<!DOCTYPE html>
<html>
<head>
    <title>Der Riotfive Blog - Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="./main.css" />
</head>
<body>
    <header>
        <h1>Der Riotfive Blog - Admin-Bereich</h1>
    </header>

    <aside>
        <ul>
            <li><a href="./index.html">Startseite</a></li>
            <li><a href="./neuer-eintrag.html">Neuer Blogeintrag</a></li>
            <li><a href="./blogeintraege-verwalten.html">Blogeinträge verwalten</a></li>
        </ul>
    </aside>

</body>
</html>