{% extends 'base.html.twig' %}

{% block title %}Der Riotfive Blog - Anmelden{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}
    <header>
        <h1>Der Riotfive Blog - Anmelden</h1>
    </header>

    <aside>
        <ul>
            <li><a href="{{ path('index') }}">Startseite</a></li>
            <li><a href="{{ path('register') }}">Registrieren</a></li>
        </ul>
    </aside>

    <main>
        <form method="post">
            <label for="login-name">Benutzername oder E-Mail:</label>
            <input name="login-name" type="text"></input>
            <label for="login-password">Passwort:</label>
            <input name="login-password" type="password"></input>
            <a href="{{ path('reset-password') }}">Passwort vergessen?</a>
            <button type="submit">Einloggen</button>
        </form>
    </main>
{% endblock %}