<!DOCTYPE html>
<html>
<head>
    <title>Der Riotfive Blog - Anmelden</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="./main.css" />
</head>
<body>
    <header>
        <h1>Der Riotfive Blog - Anmelden</h1>
    </header>

    <aside>
        <ul>
            <li><a href="./index.html">Startseite</a></li>
            <li><a href="./registrieren.html">Registrieren</a></li>
        </ul>
    </aside>

    <main>
        <form method="post">
            <label for="login-name">Benutzername:</label>
            <input name="login-name" type="text"></input>
            <label for="login-password">Passwort:</label>
            <input name="login-password" type="password"></input>
            <a href="./passwort-vergessen.html">Passwort vergessen?</a>
            <button type="submit">Einloggen</button>
        </form>
    </main>

</body>
</html>