{% extends 'base.html.twig' %}

{% set page_title = 'Der Riotfive Blog - Anmelden' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}
    {% if error %}
        <div><p>{{ error.messageKey|trans(error.messageData, 'security') }}</p></div>
    {% endif %}

    <form method="post">
        <label for="username">Benutzername oder E-Mail:</label>
        <input name="username" type="text" required autofocus />

        <label for="password">Passwort:</label>
        <input name="password" type="password" required />
        <a href="{{ path('reset-password') }}">Passwort vergessen?</a>

        <label><input type="checkbox" checked name="remember_me" />&nbsp;Permanent einloggen</label>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <button type="submit">Einloggen</button>
    </form>
{% endblock %}
