<!DOCTYPE html>
<html>
<head>
    <title>Der Riotfive Blog - Blogeinträge verwalten</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="./main.css" />
</head>
<body>
    <header>
        <h1>Der Riotfive Blog - Blogeinträge verwalten</h1>
    </header>

    <aside>
        <ul>
            <li><a href="./index.html">Startseite</a></li>
            <li><a href="./neuer-eintrag.html">Neuer Blogeintrag</a></li>
        </ul>
    </aside>

    <main>
        <table>
            <thead>
                <th>Titel</th>
                <th style="width:200px;">Datum</th>
                <th style="width:200px;">Aktion</th>
            </thead>
            <tr>
                <td>Hallo Welt</td>
                <td>19.07.2019</td>
                <td>
                    <button>Bearbeiten</button>
                    <button>Löschen</button>
                </td>
            </tr>
        </table>
    </main>
</body>
</html>