{% extends 'base.html.twig' %}

{% set page_title = 'Der Riotfive Blog - Blogeinträge verwalten' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}
<table>
    <thead>
        <th>Titel</th>
        <th style="width:200px;">Datum</th>
        <th style="width:200px;">Aktion</th>
    </thead>
    <tr>
        <td>Hallo Welt</td>
        <td>19.07.2019</td>
        <td>
            <button>Bearbeiten</button>
            <button>Löschen</button>
        </td>
    </tr>
</table>
{% endblock %}