{% extends 'base.html.twig' %}

{% set page_title = 'Der Riotfive Blog - Passwort vergessen' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}
<form method="post">
    <label for="forgot-password-email">E-Mail:</label>
    <input type="text" name="forgot-password-email" />
    <button type="submit">Neues Passwort anfordern</button>
</form>
{% endblock %}