{% extends 'base.html.twig' %}

{% set page_title = 'Der Riotfive Blog - Registrieren' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}
<form method="post">
    <label for="register-name">Benutzername:</label>
    <input name="register-name" type="text"></input>
    <label for="register-name">E-Mail:</label>
    <input name="register-name" type="email"></input>
    <label for="register-password">Passwort:</label>
    <input name="register-password" type="password"></input>
    <button type="submit">Registrieren</button>
</form>
{% endblock %}