{% extends 'base.html.twig' %}

{% set page_title = 'Der Riotfive Blog' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block navigation %}
<section id="navigation">
    <form method="get">
        <input type="text" name="search-posts" placeholder="Posts durchsuchen..." />
        <button type="submit">Los!</button>
    </form>
    <div>
        <button>&lt;</button>
        <button>&gt;</button>
    </div>
</section>
{% endblock %}

{% block body %}
    {% for entry in blog_entries %}
    <article>
         <header><h4>{{ entry.title }}</h4></header>
        <section><p>{{ entry.body }}</p></section>
    </article>
    {% endfor %}
{% endblock %}

{% block footer %}
    <p>(C) riotfive</p>
{% endblock %}