{% extends 'base.html.twig' %}

{% set page_title = 'Der Riotfive Blog' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block navigation %}
<section id="navigation">
    <form method="get">
        <input type="text" name="search-posts" placeholder="Posts durchsuchen..." />
        <button type="submit">Los!</button>
    </form>
    <div>
        <button>&lt;</button>
        <button>&gt;</button>
    </div>
</section>
{% endblock %}

{% block body %}
    {% for entry in blog_entries %}
    <article>
        <header><h3>{{ entry.title }}</h3></header>
        <main><p>{{ entry.body }}</p></main>
        <footer><a href="/p/{{ entry.link }}">Mehr</a></footer>
    </article>
    {% endfor %}
{% endblock %}

{% block footer %}
    <footer><p>(C) riotfive</p></footer>
{% endblock %}