{% extends 'base.html.twig' %}

{% set page_title = 'Der Riotfive Blog - Suchergebnisse' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}
<table>
    <tr>
        <td><a href="">Hallo Welt!</a></td>
        <td>19.07.2018</td>
    </tr>

    <tr>
        <td><a href="">Hallo Welt!</a></td>
        <td>19.07.2018</td>
    </tr>

    <tr>
        <td><a href="">Hallo Welt!</a></td>
        <td>19.07.2018</td>
    </tr>
</table>
{% endblock %}
