<!DOCTYPE html>
<html>
<head>
    <title>Der Riotfive Blog - Suchergebnisse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="./main.css" />
</head>
<body>
    <header>
        <h1>Der Riotfive Blog - Suchergebnisse für "Hallo Welt"</h1>
    </header>

    <aside>
        <ul>
            <li><a href="./index.html">Startseite</a></li>
            <li><a href="./anmelden.html">Anmelden</a></li>
            <li><a href="./registrieren.html">Registrieren</a></li>
        </ul>
    </aside>

    <main>
        <table>
            <tr>
                <td><a href="">Hallo Welt!</a></td>
                <td>19.07.2018</td>
            </tr>

            <tr>
                <td><a href="">Hallo Welt!</a></td>
                <td>19.07.2018</td>
            </tr>

            <tr>
                <td><a href="">Hallo Welt!</a></td>
                <td>19.07.2018</td>
            </tr>
        </table>
    </main>
</body>
</html>